name: verify
permissions:
  contents: read
  checks: write
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
    inputs:
      runner:
        description: "Runner to use"
        required: false
jobs:
  verify:
    name: verify
    uses: carteramesh/ci/.github/workflows/rust.yml@main
    secrets: inherit
    with:
      runner: ${{ inputs.runner || vars.RUNNER }}
      # ubuntu_packages: "libgpgme-dev"
      # features: '["default", "gpg"]'
      # args: "--test-threads=1"
      # rustlog: "fireblocks_config=debug,info"
